body{
    min-height: 100vh;
    position:relative;
    margin: 0;
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../images/img2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}
a{
    color: yellow;
    text-decoration: none;
}